{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark custom-nav">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h5 class="my-0 mr-md-auto font-weight-bold"><a href="/" style="color:white; text-decoration:none;"> Integrated Genome Browser Appstore </a></h5>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <!-- Can Add Menu Items Here -->
                </ul>
                <form role="search" action="{% url 'search' %}" method="get">
                        <div class="searchbar">
                            <input class="search_input" type="text" placeholder="Search the Appstore" name="q" aria-label="Search" value="{{ search_query }}">
                        </div>
                </form>

            </div>
        </div>
    </nav>
{% endblock %}
